@import './minireset.scss';
@import './breakpoints.scss';

// Container

.container {
  margin: 0 auto;
  position: relative;

  @include desktop {
    max-width: $desktop - (2 * $gap);
    width: auto;

    &.is-fluid {
      margin-left: $gap ;
      margin-right: $gap ;
      max-width: none ;
      width: auto ;
    }
  }
}

span,p,a  {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  text-decoration-line: none;
  text-decoration-line: none;
  color: #1f4079;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  color: #1f4079;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: #1f4079;
}