@import '../../breakpoints.scss';

.article{
  min-height: 84vh;
  margin: 0 20px 30px;
  padding-top: 78px;
}

.article__wrapper {
  padding: 10px;

  box-shadow: 5px 5px 3px 1px rgba(210,210,210,1);

  border: 1px solid rgba(210,210,210,1);
}

.article__img {
  float: left;
}

.article__paragraph {
  margin: 20px 0;
}

.author {
  color: #000;
}
