@import '../../breakpoints.scss';

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15vh;

  background-color: rgb(51, 51, 51);
}

.footer__content {
  margin: 0 20px;

  color: #fff;
  
  font-size: 10px;
  
  @include tablet {
    flex-basis: 50%;
  }
}