@import '../../breakpoints.scss';

.articles__wrapper {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    margin-right: -20px;
  }

  @include desktop {
    margin-right: -50px;
  }
}

.articles__link {
  flex-basis: 97%;

  margin-bottom: 20px; 

  @include tablet {
    flex-basis: 47%;

    margin-right: 20px;
  }

  @include desktop {
    flex-basis: 30%; 
  }
}