.articles__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.articles__link {
  flex-basis: 280px;
  margin: 10px; }
  @media screen and (min-width: 768px) {
    .articles__link {
      flex-basis: 41%;
      margin: 20px; } }
  @media screen and (min-width: 1107px) {
    .articles__link {
      flex-basis: 28%; } }
